body{
	padding:0px;
	margin:0px;
}
h1{
	color:#00ACC1;
}
table{
	width:50%;
	margin:auto;
	background-color:#E0E0E0;
	text-align: center;
	border-collapse: collapse;
}
table tr td,th{
	border:solid 6px #BDBDBD;
	padding:10px;
}
.center{
	text-align:center;
	margin-top:100px;
}
table th:nth-child(1),td:nth-child(1){
	background-color: #00695C;
}
table th:nth-child(2),td:nth-child(2){
	background-color: #689F38;
}
table th:nth-child(3),td:nth-child(3){
	background-color: #9CCC65;
}
table th:nth-child(4),td:nth-child(4){
	background-color: #D4E157;
}
